.accordion {
  width: 540px;

  &__header,
  &__body {
    border-radius: 8px;
  }

  &__header {
    border: 2px solid #000;
    margin-bottom: 10px;
    padding: 23px 21px 24px;
    font-size: 18px;
    display: inline-flex;
    width: 100%;
    text-align: left;
    position: relative;
    align-items: center;

    &::after {
      content: '+';
      font-size: 30px;
      line-height: 20px;
      display: block;
      margin-left: auto;
    }

    .opened & {
      &::after {
        content: '-';
      }
    }
  }

  &__tab {
    max-height: 0;
    overflow: hidden;
    transition: max-height 500ms ease;
    margin-bottom: 10px;

    .opened & {
      max-height: 200vh;
      overflow: scroll;
    }
  }

  &__body {
    padding: 25px 23px 25px 22px;
    border: 2px solid #000;
  }
}
